body {
  background-color: #fff5e1;
  color: #5a3e2b;
  font-family: "Poppins", sans-serif;
  padding-bottom: 70px;
}

.navbar {
  background: linear-gradient(to top, #ff6b00, #ffa447);
  padding: 10px 0;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: #fff5e1;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ffd166;
}

.navbar i {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.container-fluid {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 28px;
  color: #ff6b00;
  font-weight: bold;
}

p {
  font-size: 18px;
  color: #5a3e2b;
}

.btn-primary {
  background-color: #ff6b00;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #e65c00;
  box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.3);
}

.search-box {
  background-color: #fff5e1;
  padding: 20px;
  border-radius: 10px;
}

.search-box label {
  color: #5a3e2b;
}

.search-box .btn-outline-primary {
  border-color: #ff6b00;
  color: #ff6b00;
}

.search-box .btn-outline-primary:hover {
  border-color: #e65c00;
  color: #e65c00;
}

.search-box .btn-success {
  background-color: #ff6b00;
  border: none;
  padding: 10px;
}

.search-box .btn-success:hover {
  background-color: #e65c00;
}
.logo {
  width: 200px;
  height: auto;
  max-height: 60px;
}
